<section class="login-container" ng-class="{signin: login.signin, signup: !login.signin }">

  <nav class="nav-tabs">
    <a href="" class="signin" ng-class="{active: login.signin}" ng-click="login.signin = true">
      <span>Connexion</span></a>
    <a href="" class="signup" ng-class="{active: !login.signin}" ng-click="login.signin = false">
      <span>Nouveau compte</span>
    </a>
  </nav>

  <a ui-sref="home" class="logo"></a>

  <form name="signin" ng-submit="login.signForm()" novalidate>

    <!-- Signin fields -->
    <div class="group-input">
      <div class="input">
        <label class="label" for="login">Email</label>
        <input
        type="email"
        id="login"
        ng-model="login.form.signin.email"
        ng-required="true"
        placeholder="Email">
      </div>

      <div class="input">
        <label class="label" for="pass">Mot de passe</label>
        <input
        type="password"
        id="pass"
        ng-model="login.form.signin.password"
        ng-required="true"
        placeholder="Mot de passe">
      </div>
    </div>

    <!-- Common signup data -->
    <div class="group-input" ng-if="!login.signin">

      <div class="input">
        <label class="label" for="firstname">Prénom</label>
        <input
        type="text"
        id="firstname"
        ng-model="login.form.common.firstname"
        ng-required="true"
        placeholder="Prénom">
      </div>

      <div class="input">
        <label class="label" for="firstname">Nom</label>
        <input
        type="text"
        id="lastname"
        ng-model="login.form.common.lastname"
        ng-required="true"
        placeholder="Nom">
      </div>

      <am-google-address></am-google-address>

    </div>

    <!-- Driver data -->
    <div class="group-input" ng-if="!login.signin && login.type === 'proposer'">
      <div class="input">
        <label class="label" for="vehicletype">Type véhicule</label>
        <input
        type="radio"
        id="vehicletype"
        ng-model="login.form.driver.vehicleType"
        ng-required="true"
        ng-value="'car'"> Voiture

        <input
        type="radio"
        ng-model="login.form.driver.vehicleType"
        ng-required="true"
        ng-value="'moto'"> Moto
      </div>

      <div class="input">
        <label class="label" for="availableseats">Nb. places disponible</label>
        <input
        type="number"
        id="availableseats"
        ng-model="login.form.driver.availableSeats"
        palceholder="Nb places">
      </div>
    </div>

    <!-- validate button -->
    <p>
      <input type="submit" ng-disabled="signin.$invalid">
    </p>

  </form>

</section>