<!-- temp field for chrome bug -->
<input type="password" style="display:none">

<!-- Signin fields -->
<div class="group-input" ng-if="!main.credsHidden">

  <div class="input-wrap">
    <label class="label" for="login">Email</label>
    <input class="input"
           id="login"
           type="text"
           ng-model="login.form.signin.email"
           ng-required="true"
           placeholder="Email">
  </div>

  <div class="input-wrap">
    <label class="label" for="password">Mot de passe</label>
    <input class="input"
           id="password"
           type="password"
           ng-model="login.form.signin.password"
           ng-required="true"
           placeholder="Mot de passe">
  </div>

</div>

<!-- Common signup data -->
<div class="group-input" ng-if="!login.signin">

  <div class="input-wrap w50">
    <label class="label" for="firstname">Prénom</label>
    <input
    type="text"
    id="firstname"
    class="input"
    ng-model="login.form.common.firstname"
    ng-required="true"
    placeholder="Prénom">
  </div>

  <div class="input-wrap w50">
    <label class="label" for="firstname">Nom</label>
    <input
    type="text"
    id="lastname"
    class="input"
    ng-model="login.form.common.lastname"
    ng-required="true"
    placeholder="Nom">
  </div>

  <am-google-address></am-google-address>

</div>

<!-- Driver data -->
<div class="group-input" ng-if="!login.signin && login.type === 'proposer'">
  <div class="input-wrap inline w50">
    <div class="label">Véhicule</div>
    <div class="input-content">
      <input
      type="radio"
      class="input-radio"
      ng-model="login.form.driver.vehicleType"
      id="option-type-car"
      ng-required="true"
      ng-value="'car'">
      <label class="btn type-vehicle car" for="option-type-car"></label>

      <input
      type="radio"
      class="input-radio"
      ng-model="login.form.driver.vehicleType"
      id="option-type-motorcycle"
      ng-required="true"
      ng-value="'moto'">
      <label class="btn type-vehicle motorcycle" for="option-type-motorcycle"></label>
    </div>

  </div>

  <div class="input-wrap inline w50">
    <label class="label" for="availableseats">Nb. places</label>

    <div class="input-content">
      <input
      type="number"
      id="availableseats"
      class="input min"
      ng-model="login.form.driver.availableSeats"
      placeholder="0">
    </div>
  </div>
</div>

<!-- validate button -->
<div>
  <button class="button center" ng-disabled="signin.$invalid">Valider</button>
</div>

<p ng-if="main.message">Compte mis à jour.</p>