.login-container {

  background-color: fade(@theme-color-map-dark, 95%);
  display: block;
  height: 100%;
  padding: 0 20%;
  overflow: auto;

  @media @base-media-extra-small {
    padding: 0 5%;
  }

  .logo {
    background: url('../img/logo.05.png') 50% 70% no-repeat;
    background-size: 50%;
    display: block;
    margin: 1em auto 0;
    .rem-calc(height, 150px);
    .rem-calc(width, 150px);

    @media @base-media-extra-small {
      background-size: 40%;
      .rem-calc(height, 100px);
    }
  }

  .login-nav {
    .clearfix();
    margin: 2em 0 1em;
    .rem-calc(padding-left, 4px);
    h1 {
      float: left;
      font-size: 1.5em;
    }
    aside {
      color: @base-color-white;
      float: right;
      font-size: 1em;
      font-weight: normal;
      line-height: 2.5em;
      a {
        border-bottom: 1px solid @base-color-blue;
        color: @base-color-blue;
        font-weight: normal;
        text-decoration: none;
      }
    }
    @media @base-media-extra-small {
      margin: 1em 0;
      h1 {
        font-size: 1.5em;
        float: none;
        padding: 0;
        margin: 0;
      }
      aside {
        font-size: 0.75em;
        float: none;
        line-height: 1em;
      }
    }
  }
}
